<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data Analyst</h2>
                <hr class="light">
                <p class="text-faded">Adept at utilizing CAD software, including AutoCAD and Revit MEP, and well-versed in the Software Development Life Cycle and Agile methodologies. Proficient in implementing PMO frameworks, ensuring streamlined project processes and efficient resource allocation. Hands on experience in risk and resource management, with ability to handle RAID processes effectively. Possess exceptional stakeholder management acumen, with proven ability to foster strong relationships with stakeholders to ensure project success and satisfaction.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
