<section id="Interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Interests</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary"></i>
                    <h3>Data Analytics</h3>
                    <p class="text-muted">I am passionate about data analytics as it enables me to turn complex data into actionable insights. My enthusiasm for uncovering patterns drives my commitment to impactful data solutions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Data Visualisation</h3>
                    <p class="text-muted">My passion for data visualisation stems from transforming complex data into intuitive insights. My enthusiasm lies in crafting compelling visual narratives that drive strategic action.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Machine Learning & Artificial Intelligence</h3>
                    <p class="text-muted">I am fascinated by ML and AI for their ability to create intelligent, data-driven systems. My interest lies in leveraging these technologies to solve complex problems.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-briefcase wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Project Management</h3>
                    <p class="text-muted">I am passionate about project management and motivated by the opportunity to guide teams and projects towards achieving their full potential and organisational goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
